awscli==1.11.174
boto==2.48.0
boto3==1.6.9
botocore==1.9.9
cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
colour==0.1.5
docutils==0.14
enum34==1.1.6
futures==3.2.0
get==0.0.39
google-api-core==1.0.0
google-auth==1.4.1
google-cloud-speech==0.32.1
googleapis-common-protos==1.5.3
grpcio==1.10.0
idna==2.6
jmespath==0.9.3
numpy==1.13.1
post==0.0.26
protobuf==3.5.2
public==0.0.65
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyAudio==0.2.11
python-dateutil==2.6.1
pytz==2018.3
qhue==1.0.9
query-string==0.0.28
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.11
six==1.11.0
SoundAnalyse==0.1.1
SpeechRecognition==3.8.1
urllib3==1.22
