{% extends "base.html" %}
{% block title %}Help{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
        .important { color: #336699; }

</style>
{% endblock %}
{% block content %}

<div class="container">
    <div class="page-header" id="documentation">
        <h1><span class="label label-primary">Documentation</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ego in hoc resisto; Verum hoc loco sumo verbis
            his eandem certe vim voluptatis Epicurum nosse quam ceteros.</p>

        <p>Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Restant Stoici, qui cum a Peripateticis et
            Academicis omnia transtulissent, nominibus aliis easdem res secuti sunt. Cur igitur, inquam, res tam
            dissimiles eodem nomine appellas? Placet igitur tibi, Cato, cum res sumpseris non concessas, ex illis
            efficere, quod velis? Minime vero istorum quidem, inquit. Aliter enim nosmet ipsos nosse non possumus.</p>

        <p>Duo Reges: constructio interrete. Tum Lucius: Mihi vero ista valde probata sunt, quod item fratri puto.
            Commoda autem et incommoda in eo genere sunt, quae praeposita et reiecta diximus; Non modo carum sibi
            quemque, verum etiam vehementer carum esse? Aut, Pylades cum sis, dices te esse Orestem, ut moriare pro
            amico? Illa sunt similia: hebes acies est cuipiam oculorum, corpore alius senescit; Cur igitur, inquam, res
            tam dissimiles eodem nomine appellas? Sed mehercule pergrata mihi oratio tua. Qui potest igitur habitare in
            beata vita summi mali metus?</p>
    </div>
    <div class="page-header" id="troubleshooting">
        <h1><span class="label label-primary">Troubleshooting</span></h1>
        <h1>Bona autem corporis huic sunt, quod posterius posui, similiora.</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat aequius Triarium aliquid de dissensione
            nostra iudicare. An eum locum libenter invisit, ubi Demosthenes et Aeschines inter se decertare soliti sunt?
            Nos cum te, M. Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare; Nam et complectitur verbis,
            quod vult, et dicit plane, quod intellegam; <code>Duo Reges: constructio interrete.</code></p>

        <pre>Eamne rationem igitur sequere, qua tecum ipse et cum tuis
utare, profiteri et in medium proferre non audeas?

Perturbationes autem nulla naturae vi commoventur, omniaque
ea sunt opiniones ac iudicia levitatis.
</pre>


        <p>Illa videamus, quae a te de amicitia dicta sunt. Unum est sine dolore esse, alterum cum voluptate.
            <mark>Sed ille, ut dixi, vitiose.</mark>
            <a href="http://loripsum.net/" target="_blank">Sed ille, ut dixi, vitiose.</a> Nunc omni virtuti vitium
            contrario nomine opponitur. At ego quem huic anteponam non audeo dicere; Si de re disceptari oportet, nulla
            mihi tecum, Cato, potest esse dissensio. <b>Cum praesertim illa perdiscere ludus esset.</b></p>

        <p>Nam de isto magna dissensio est. Sed id ne cogitari quidem potest quale sit, ut non repugnet ipsum sibi. <a
                href="http://loripsum.net/" target="_blank">Haec para/doca illi, nos admirabilia dicamus.</a> Fortasse
            id optimum, sed ubi illud: Plus semper voluptatis? </p>

        <ol>
            <li>Qui enim existimabit posse se miserum esse beatus non erit.</li>
            <li>Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint.</li>
            <li>Quo plebiscito decreta a senatu est consuli quaestio Cn.</li>
            <li>Si enim ita est, vide ne facinus facias, cum mori suadeas.</li>
        </ol>


        <blockquote cite="http://loripsum.net">
            Ut nemo dubitet, eorum omnia officia quo spectare, quid sequi, quid fugere debeant?
        </blockquote>


        <dl>
            <dt><dfn>Si longus, levis;</dfn></dt>
            <dd>Vos autem cum perspicuis dubia debeatis illustrare, dubiis perspicua conamini tollere.</dd>
            <dt><dfn>Idemne, quod iucunde?</dfn></dt>
            <dd>Hoc loco discipulos quaerere videtur, ut, qui asoti esse velint, philosophi ante fiant.</dd>
        </dl>


        <ul>
            <li>Utilitatis causa amicitia est quaesita.</li>
            <li>Piso, familiaris noster, et alia multa et hoc loco Stoicos irridebat: Quid enim?</li>
            <li>Multa sunt dicta ab antiquis de contemnendis ac despiciendis rebus humanis;</li>
            <li>Scio enim esse quosdam, qui quavis lingua philosophari possint;</li>
        </ul>


    </div>
    <div class="page-header" id="faqs">
        <h1><span class="label label-primary">FAQs</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ego in hoc resisto; Verum hoc loco sumo verbis
            his eandem certe vim voluptatis Epicurum nosse quam ceteros.</p>

        <p>Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Restant Stoici, qui cum a Peripateticis et
            Academicis omnia transtulissent, nominibus aliis easdem res secuti sunt. Cur igitur, inquam, res tam
            dissimiles eodem nomine appellas? Placet igitur tibi, Cato, cum res sumpseris non concessas, ex illis
            efficere, quod velis? Minime vero istorum quidem, inquit. Aliter enim nosmet ipsos nosse non possumus.</p>

        <p>Duo Reges: constructio interrete. Tum Lucius: Mihi vero ista valde probata sunt, quod item fratri puto.
            Commoda autem et incommoda in eo genere sunt, quae praeposita et reiecta diximus; Non modo carum sibi
            quemque, verum etiam vehementer carum esse? Aut, Pylades cum sis, dices te esse Orestem, ut moriare pro
            amico? Illa sunt similia: hebes acies est cuipiam oculorum, corpore alius senescit; Cur igitur, inquam, res
            tam dissimiles eodem nomine appellas? Sed mehercule pergrata mihi oratio tua. Qui potest igitur habitare in
            beata vita summi mali metus?</p>
    </div>
    <div class="page-header" id="contact-us">
        <h1><span class="label label-primary">Contact Us</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ego in hoc resisto; Verum hoc loco sumo verbis
            his eandem certe vim voluptatis Epicurum nosse quam ceteros.</p>

        <p>Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Restant Stoici, qui cum a Peripateticis et
            Academicis omnia transtulissent, nominibus aliis easdem res secuti sunt. Cur igitur, inquam, res tam
            dissimiles eodem nomine appellas? Placet igitur tibi, Cato, cum res sumpseris non concessas, ex illis
            efficere, quod velis? Minime vero istorum quidem, inquit. Aliter enim nosmet ipsos nosse non possumus.</p>

        <p>Duo Reges: constructio interrete. Tum Lucius: Mihi vero ista valde probata sunt, quod item fratri puto.
            Commoda autem et incommoda in eo genere sunt, quae praeposita et reiecta diximus; Non modo carum sibi
            quemque, verum etiam vehementer carum esse? Aut, Pylades cum sis, dices te esse Orestem, ut moriare pro
            amico? Illa sunt similia: hebes acies est cuipiam oculorum, corpore alius senescit; Cur igitur, inquam, res
            tam dissimiles eodem nomine appellas? Sed mehercule pergrata mihi oratio tua. Qui potest igitur habitare in
            beata vita summi mali metus?</p>
    </div>
</div>


{% endblock %}